
<h1>Places I've been</h1>


   <% for place in @places %>
      <div class="place">
      <a clas="list_link" href="/places/<%= place.id %>"><%=place.name%></a>
      </div>
      <br>
   <% end %>



<p>
    <a class="new_button" href="/places/new">New Place</a>
</p>
